body {
  color: white;
  background-color: #e5e5f7;
  background-image: radial-gradient(#17942a 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

.logo {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='150' height='150' viewBox='0 0 500 500' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M250 495C385.31 495 495 385.31 495 250C495 114.69 385.31 5 250 5C114.69 5 5 114.69 5 250C5 385.31 114.69 495 250 495Z' fill='%2335AA4E'/%3E%3Cpath d='M314.69 183.02V153.34C314.69 123.3 322.46 107.75 353.22 107.75H360.63V84.78H348.61C306.54 84.78 286.06 107.4 286.06 150.52V175.61C286.06 212.02 276.16 237.11 239.41 237.11H236.22V262.54H239.41C275.8 262.54 286.06 288.34 286.06 324.02V349.48C286.06 391.88 305.84 415.21 348.61 415.21H360.63V392.24H353.22C322.46 392.24 314.69 376.7 314.69 346.64V316.97C314.69 281.61 300.19 260.42 269.8 250.17C299.85 239.56 314.69 219.07 314.69 183.02Z' fill='white'/%3E%3Cpath d='M214.17 306.22V175.26C214.17 120.27 209.02 81.75 209.02 81.75C209.02 81.75 172.11 107.76 156.06 179.94C143.36 237.09 139.36 298.61 139.36 298.61C139.36 298.61 187.48 298.26 190.38 304.39C193.25 310.51 187.36 327.58 187.36 347.4C187.36 367.22 189.88 376.45 187.72 384.01C185.56 391.59 180.38 393.51 180.15 396.99C179.93 400.46 180.52 418.26 198.9 418.26C204 418.26 211.48 413.36 212.92 400.62C215.28 379.77 215.95 338.32 214.17 306.22ZM198.6 403.63C196.24 403.63 194.34 401.73 194.34 399.38C194.34 397.03 196.24 395.11 198.6 395.11C200.97 395.11 202.87 397.02 202.87 399.38C202.87 401.73 200.97 403.63 198.6 403.63ZM202.04 366.29C199.68 366.29 197.78 364.38 197.78 362.03C197.78 359.67 199.68 357.78 202.04 357.78C204.39 357.78 206.31 359.68 206.31 362.03C206.3 364.39 204.39 366.29 202.04 366.29ZM202.68 330.03C200.34 330.03 198.43 328.11 198.43 325.77C198.43 323.41 200.35 321.5 202.68 321.5C205.05 321.5 206.95 323.41 206.95 325.77C206.95 328.11 205.05 330.03 202.68 330.03Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='500' height='500' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  height: 300px;
  display: block;
  left: 50%;
  margin: -50px -75px;
  position: absolute;
  top: 50%;
  width: 300px;
  background-size: 300px 300px;
}

.animate {
  position: absolute;
  top: 100px;
  left: 100px;
}

.animate.cpu {
  animation: cpu 12s ease infinite;
}

.animate.gpu {
  animation: gpu 12s ease infinite;
}

@keyframes cpu {
  50% {
    top: 500px;
    left: 1500px;
  }
}

@keyframes gpu {
  50% {
    transform: translate(1500px, 500px);
  }
}
